package templates

templ Room() {
	@Base("Chat Room") {
		This is where yucky js goes
	}
}

templ SearchRooms() {
	@Base("Search for Rooms") {
		<h1>Search for Users</h1>
		<div>
			Blah
		</div>
	}
}
