{{define "form"}}
<form action="{{.Url}}" method="post">
  <label for="username">username</label>
  <input type="text" name="username" value=""> <br> <label for="password">password</label>
  <input type="password" name="password" value="">
  <br>
  {{if .IsUpdate}}
  <label for="password_again">re-enter password</label>
  <input type="password_again" name="password_again" value="">
  <br>
  {{end}}
  {{if .IsNew}}
  <label for="new_password">New password</label>
  <input type="" name="new_password" value="">
  <br>
  <label for="new_password_again">re-eneter New password</label>
  <input type="" name="new_password_again" value="">
  <br>
  {{end}}
</form>
{{end}}
